@font-face {
    font-family: FiraSans;
    src: url(F/FiraSans-Thin.ttf);
}
@font-face {
    font-family: FiraSans-Light;
    src: url(F/FiraSans-Light.ttf);
}
*{
    font-family: FiraSans, Calibiri, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    align-items: center;
    height: 6.5rem;
    flex-wrap: wrap;
}
h1{
    margin-left: 20px;
    color: white;
}
h1 a{
    color: white;
    text-decoration: none;
}

h1 a:hover{
  color: lightgray;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style-type:none;
    margin-right: 2.5rem;
}
nav ul li a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 0.45rem;
}
nav ul li a:hover{
    border-color: grey;
    border-bottom: 2.5px solid;

}
.sub{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    border-top: 1.3px white solid;
    justify-content: space-between;
    align-items: center;
}
.img{
    margin-left: 5rem;
    margin-right: 5rem;
}
.main{
    height: 50vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:black;
    flex-wrap: wrap;
    margin: 0;
}

.page{
    color: white;
    font-size: 3.0rem;
    font-family: FiraSans-Light;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
}
#subtitle{
    color: white;
    font-size: 1.3rem;
    margin-left: 5rem;
    font-weight: bold;
    margin-right: 5rem;
}
.submit{
    font-family: FiraSans-Light;
    padding: 1rem;
    border-color: none;
    border-radius: 13px;
    margin-top: 13px;
    color: grey;
    font-weight:bolder;
    border: 0px;
    width: 5.6rem;
    margin-left: 5rem;
}
.submit:hover{
    background-color: grey;
    color: white;
}
img{
    width: 25rem;
    height: 25rem;
    border-radius: 15px;
}
img:hover{
    transform: scale(1.01);
}
.image{
    width: auto;
    min-height: 50vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.one{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.one:hover{
    transform: scale(1.01);

}
.two{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.two:hover{
    transform: scale(1.01);
}
.three{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.three:hover{
    transform: scale(1.01);
}
.four{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.four:hover{
    transform: scale(1.01);
}
#info{
    color: white;
    font-family: FiraSans-Light;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
}
.inf{
    margin-top:0px;
    background-color: black;
    border-top: 1.3px solid white;
    text-align: center;

}